/*_Color Variables_*/

$primary-color: #103C8C; //blue

$secondary-color: #ffffff;
$default-color: #000000;

$title-color:#002B61;
$complementary-color:#7e7e7e; //dark-grey
$light-grey: #f1f1f1; //light-grey
$medium-grey: #e1e1e1; //medium-grey
$darkest-grey: #808080; //darkest grey
$heading-grey:#1e1e1e;
$dark-blue: #002453;
$mumbaicity-color: #0057bd;
$light-blue: #acd2ff;
$lightest-blue: #c2dff9;
$orange-color: #ff5d2b;
$google: #070707;
$facebook: #1877F2;
$twitter: #1da1f2;
$instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
/*_Font Variables_*/

$regular_font-family:"Hero-Regular",
sans-serif;
$bold_font-family:"Hero-Bold",
sans-serif;
$semibold_font-family:"Hero-SemiBold",
sans-serif;
$medium_font-family:"Hero-Medium",
sans-serif;
$waf-icon: "waf-icon-font";